.class1,
.class3,
#id1 {
  background-color: lightcoral;
  font-family: "Verdana", "Dejavu Sans", sans-serif;
}

.class1 {
}

.class2 {
  color: blue;
  font-size: 36px;
}

.class3 {
  font-size: 24px;
}

#id1 {
}

#id2 {
}
